.bg-gradient-mask {
    background-image:linear-gradient(to right,
    rgb(255, 255, 255, 0.8) 50%, 
    rgba(255, 255, 255, 0)), url('../../assets/landing_bg.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
}